<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('aquamu/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('aquamu/slide_gallery.jpg')%>" /></li>
			<li><img src="<%= asset_path('aquamu/slide_shadowbox.jpg')%>" /></li>
		</ul>
	</div>

	<h1 id="title">AquaMu | Watercolors by Muriel Libert</h1>

	<div class="left-text">
		<p>
			My step-mother is an amazing artist. She's always had a quick brush for creativity and her watercolors are impecable. So... I built her portfolio in 2009 when I was learning wordpress and its many powers. 
		</p>
		<p>
			I built this theme from scratch using many of Wordpress' features, while setting up a jquery lightbox for gallery display. Also responsible for the logo and graphics portrayed on the site (other than the paintings).
		</p>
	</div>

	<div class="right-text">
		<a class="link-to-site" href="http://www.aquamu.com" target="_blank">Click Here to Visit Site</a>
		<p class="ccc">My Part: </p>
		<ul class="my-part">
			<li>Custom Wordpress Theme Build & Setup</li>
			<li>Cool and functional gallery</li>
			<li>jQuery Shadowbox plugin setup</li>
			<li>Logo, Branding (business cards), and graphics</li>
		</ul>
	</div>
	
</div>