<div id="content-wrap">

	<div id="right-preview">
		<img src="<%= asset_path('bacc_screenshot.png')%>"/>
	</div>

	<h1>Belgian American Club of Chicago</h1>

	<p>
		The Belgian American Club is a non-for-profit club where Belgians unite in Chicago. 
	</p>

	<p>
		I did a small WordPress setup for the club. Google maps api implemented for locations of events.
	</p>
	
</div>