<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('bacc/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('bacc/slide_fb.jpg')%>" /></li>
		</ul>
	</div>

	<h1 id="title">Belgian American Club of Chicago</h1>

	<div class="left-text">
		<p>
			The Belgian American Club is a non-for-profit club where Belgians unite in Chicago. 
		</p>
		<p>
			I did a small WordPress setup for the club. Google maps api implemented for locations of events, and set up an integrated Facebook page.
		</p>
	</div>

	<div class="right-text">
		<a class="link-to-site" href="http://www.belgianamericanclub.com" target="_blank">Click Here to Visit Site</a>
		<p class="ccc">My Part: </p>
		<ul class="my-part">
			<li>Custom Wordpress Setup</li>
			<li>Facebook Integration</li>
			<li>Google Calendar API</li>
			<li>Graphic Design</li>
		</ul>
	</div>
	
</div>