<div id="content-wrap">

	<div id="right-preview">

	</div>

	<h1>Chalk Them Up</h1>

	<p>
		Chalk Them Up is a national sports website, based in the Univeristy of Illinois in Urbana-Champaign, that had over 50 authors across the country writing current stories on sports.
	</p>

	<p>
		Chalk Them Up still has a weekly 1 hour long radio show on WPGU, the campus radio station.
	</p>

	<p>
		I wrote CTU in PHP using the CodeIgniter framework for a complete site-specific CMS with categorical user hierarchies for authors and editors to have a functioning platform to stream their valuable content through.
	</p>
	
</div>