<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('8to18/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('8to18/slide_oba.jpg')%>"/></li>
			<li><img src="<%= asset_path('8to18/slide_booth.jpg')%>"/></li>
			<li><img src="<%= asset_path('8to18/slide_print.png')%>"/></li>
		</ul>
	</div>

	<h1 id="title">8to18, Inc | Never Drop the Ball Again</h1>

	<div class="left-text">
		<p>
			I started working at 8to18, Inc in October of 2011. Since then, I have been responsible for many things, though my main task was developing and maintaining our <i>OnLine Registration App</i> which allows high school parents to sign their children up for sports or clubs at various organizations.
		</p>
		<p>
			This company works with high schools to provide them with many solutions for communcating to parents, publicizing rosters, scores, and other sports information, as well as software to schedule events and manage your facilities. 
		</p>
		<p>
			As the youngest employee, I was blessed with a lot of responsibilities, and given a chance to shine. I loved the tons of things going on in the startup environment and the opportunities to dip my hands in everything. 
		</p>
		<p>
			I also got the opportunity to partially complete the <a href="http://8thlight.com" target="_blank">8thLight</a> Apprenticeship program where I learned how to follow the Agile process with TDD and where I learned Ruby and then Rails.
		</p>
	</div>

	<div class="right-text">
		<a class="link-to-site" href="http://www.8to18inc.com" target="_blank">Click Here to Visit Site</a>
		<p class="ccc">Experience: </p>
		<ul class="my-part">
			<li>Agile Ruby on Rails Development</li>
			<li>User Training and Support</li>
			<li>Project Manager for Team of Five Developers at Consulting Firm</li>
			<li>Sales - Represented 8to18, Inc at Trade Shows in Multiple States</li>
			<li>Graphic Design for Print and Digital Marketing Materials</li>
			<li>Product Management and Marketing</li>
			<li>Technical Presentations to Potential Investors</li>
		</ul>
		<p style="float: left;" class="ccc">Fun Projects: </p>
		<ul class="my-part">
			<li>WordPress - B2B Company Website</li>
			<li>RAILS - On Boarding Application to Facilitate Customer Aquisition</li>
			<li>RAILS - Booth Checkin App to Allow Participants to <i>Check-in</i> to our Booth at Trade Shows</li>
		</ul>
	</div>
	
</div>