<div id="content-wrap">

	<div id="right-preview">

	</div>

	<h1>8to18 Media, Web Design</h1>

	<p>
		Responsible for maintenance and development for 8to18 Media, and had a couple fun projects to work on. My favorite was working on a check-in web application, optimized for being displayed on an iPad.
	</p>

	<p>
		This application offers a simple process of logging visitors at our conference booth, and gave a fresh feel to our presence at various shows.
	</p>
	
</div>