<div id="content-wrap">

	<div id="right-preview">
		<img src="<%= asset_path('marketing_card.png')%>"/>
		<img src="<%= asset_path('badge_screenshot.png')%>"/>
	</div>

	<h1>8to18 Media, Print Design</h1>

	<p>
		At 8to18 Media, I was responsible for making some print designs for conferences we attended. My two favorite items were the Credentials Badge, and our Handout Card.
	</p>

	<p>
		The Credentials badge needed to show the OHSA logo as well as the OIAAA logos which represented the conference. They also needed to creatively display names of attendees, where they were from, and have a whole schedule of the conference on the back.
	</p>

	<p>
		The Handout Card was another challenge. I needed to create a flyer telling people about our products and where our booth was located, but the thing is, athletic directors get hundreds of flyers at these shows. So I made a business card formatted flyer, with basics on what we do, but at least, they would keep it along with the other business cards they got!
	</p>

</div>