<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('steinweg/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('steinweg/slide_gallery.jpg')%>"/></li>
			<li><img src="<%= asset_path('steinweg/slide_shadowbox.jpg')%>"/></li>
		</ul>
	</div>

	<h1 id="title">(Derek) Steinweg Design</h1>

	<div class="left-text">
		<p>
			This is a more recent project, a custom portfolio wordpress theme I made for a college friend's artwork.
		</p>
		<p>
			He is the designer for his site, and I converted his photoshop file to a wordpress theme using jQuery and CSS to make it more interactive. I also implemented a wordpress plugin for easy gallery uploading and displaying.
	</div>

	<div class="right-text">
		<a class="link-to-site" href="http://www.dereksteinweg.com" target="_blank">Click Here to Visit Site</a>
		<p class="ccc">My Role : </p>
		<ul class="my-part">
			<li>PSD to HTML for Custom Wordpress theme.</li>
			<li>jQuery interactive animations.</li>
			<li>Wordpress Configuration for easy gallery uploading and maintenance.</li>
		</ul>
	</div>
	
</div>