<div id="content-wrap">

	<div id="slides">
		<ul class="bxslider">
			<li><img src="<%= asset_path('trinity/slide_home.jpg')%>"/></li>
			<li><img src="<%= asset_path('trinity/slide_sermons.jpg')%>" /></li>
		</ul>
	</div>

	<h1 id="title">Trinity Presbyterian Church - Hinsdale</h1>

	<div class="left-text">
		<p>
			Brent Stutzman, the youth leader at Trinity Presbyterian Church in Hinsdale approached me with this as my first paid freelance project. I was a junior at Hinsdale Central High School, and had been exploring the world of PHP for about a year. 
		</p>
		<p>
			I'm a fan of this simplistic design for a home page with just a large picture, 3 latest blog posts, and a very cool menu to get to other pages. 
		</p>
		<p>
			I also set up a way for him to post recorded sermons to the site through wordpress, with a clean interface to play them on the web. I also set up an RSS feed for said sermons, and created a subscribable RSS feed out of it.
		</p>
	</div>

	<div class="right-text">
		<a class="link-to-site" href="http://www.trinityhinsdale.com" target="_blank">Click Here to Visit Site</a>
		<p class="ccc">Responsible for: </p>
		<ul class="my-part">
			<li>Custom Wordpress Theme Development & Design</li>
			<li>Javascript jQuery Animations</li>
			<li>Graphic Design</li>
		</ul>
	</div>
	
</div>