// GALLERY

.gallery-overlay
    background: rgba(0, 0, 0, 0.75)
    display: none
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: 1000
    .gallery
        height: 100vh
        margin: 0 auto
        max-width: $medium
        padding: 50px 0
        position: relative
        width: 95%
        .gallery-header
            border-bottom: 1px solid darken($border, 20%)
            height: 50px
            padding-bottom: 20px
            .gallery-name
                color: white
                float: left
                font-size: 20px
                font-weight: 800
                line-height: 30px
                text-transform: uppercase
            .gallery-nav
                float: right
                margin-top: -5px
                .button.outline
                    background: rgba(0, 0, 0, 0.5)
                    border-width: 2px
                    height: 40px
                    padding: 11px 15px 10px
                    margin-left: 15px
                    width: 52px
                    &:last-child
                        width: 100px
                    i
                        color: inherit
                        font-size: 18px
                        line-height: 15px
                        height: 18px
                        margin-top: -2px
                        vertical-align: middle
                        width: 18px
                        &.icon-clear
                            font-size: 15px
                            height: 15px
                            padding-right: 5px
                            vertical-align: text-top
                            width: 20px
        .gallery-content
            display: block
            height: calc(100vh - 225px)
            margin-top: 25px
            margin-left: 0
            overflow-y: scroll
            width: 100%
            .gallery-item
                border-bottom: 1px dotted darken($border, 30%)
                display: block
                padding-bottom: 15px
                width: 100%
                &:last-child
                    border-bottom: 0
                *
                    max-width: 100%
                .item-description
                    color: white
                    font-weight: 500
                .item-tools
                    padding-top: 15px
                    .tool-icon
                        width: 50px
                        margin-right: 10px
                        img
                            width: 100%


// MEDIUM

@media screen and (max-width: $medium)

// SMALL

@media screen and (max-width: $small)
    .gallery-overlay
        .gallery
            .gallery-header
            .gallery-content
                .gallery-item
                    .item-description
                        font-size: 14px
                        line-height: 20px
