// HEADER

.header
    background: asset-url("slide_home.jpg")
    background-position: top left
    background-size: contain
    display: block
    height: 36.5vw
    width: 100vw
    .header-center
        margin: 0 auto
        max-width: $medium
        padding: 2vw
        text-align: center
        .logo
            +transition(opacity, 0.1s)
            float: left
            height: 40px
            opacity: 0.9
            &:hover
                opacity: 1
            .logo-image
                height: inherit
        .nav
            float: right
            .nav-link
                +transition(all, 0.2s)
                border-top: 2px solid $border
                color: #a1a1a1
                display: inline-block
                font-size: 12px
                font-weight: 100
                height: 50px
                letter-spacing: 0.3rem
                line-height: 50px
                margin-left: 50px
                padding-left: 50px
                text-align: right
                text-transform: uppercase
                &.active
                    border-color: white
                    color: white
                &:hover
                    border-color: lighten($border, 10%)
                    color: #efefef
        .header-title
            +text-shadow(0 0 2px black)
            color: white
            clear: both
            font-size: 3rem
            font-weight: 100
            line-height: 5vw
            padding: 8vw 0 6vw

// MEDIUM

@media screen and (max-width: $medium)
    .header
        height: 500px
        background-position: center center
        background-size: cover
        .header-center
            .nav .nav-link
                margin-left: 25px
            .header-title
                font-size: 3rem
                padding: 150px 0 100px

// SMALL

@media screen and (max-width: $small)
    .header
        background: asset-url("slide_home.jpg")
        background-position: center center
        background-size: cover
        display: block
        height: 950px
        width: 100vw
        .header-center
            .nav .nav-link
                font-size: 11px
                padding-left: 35px
            .header-title
                font-size: 4rem
                padding: 400px 0 100px
