// HEADER

.header
    background-image: asset_url("home_banner_image.jpg")
    background-size: cover
    background-position: bottom center
    height: 60vw
    max-height: 100vh
    position: relative
    width: 100vw
    .header-slider-link
        +transition(padding, 0.2s)
        bottom: 0px
        left: 0
        padding-bottom: 50px
        position: absolute
        text-align: center
        width: 100%
        .slider-link-text
            display: block
            font-size: 14px
            font-weight: 800
            letter-spacing: 0.2rem
            text-transform: uppercase
            margin-bottom: 20px
        .icon-expand_more
            +roundedCorners(30px)
            border: 1px solid white
            display: inline-block
            font-size: 4rem
            height: 53px
            padding: 5px
            width: 53px
        .slider-link-text, .icon-expand_more
            +transition(all, 0.2s)
            border-color: #d5d5d5
            color: #d5d5d5
        &:hover
            cursor: pointer
            padding-bottom: 55px
            .slider-link-text, .icon-expand_more
                border-color: white
                color: white
    .header-center
        margin: 0 auto
        max-width: 1400px
        padding: 2vw 50px
        text-align: center
        .logo
            +transition(opacity, 0.1s)
            float: left
            height: 40px
            opacity: 0.9
            &:hover
                opacity: 1
            .logo-image
                height: inherit
        .nav
            float: right
            .nav-link
                +transition(all, 0.2s)
                border-top: 2px solid $border
                color: #b9b9b9
                display: inline-block
                font-size: 12px
                font-weight: 800
                height: 50px
                letter-spacing: 0.2rem
                line-height: 50px
                margin-left: 50px
                padding-left: 50px
                text-align: right
                text-transform: uppercase
                &:hover
                    border-color: lighten($border, 10%)
                    color: #efefef
                &.active
                    border-color: white
                    color: white
        .header-title
            +text-shadow(0 0 4px #444444)
            color: white
            clear: both
            font-size: 3.5rem
            font-weight: 700
            line-height: 4rem
            left: 0
            top: calc(45% - 2rem)
            position: absolute
            width: 100vw

// MEDIUM

@media screen and (max-width: $medium)
    .header
        background-position: center center
        background-size: cover
        .header-center
            padding: 25px
            .nav .nav-link
                margin-left: 25px
            .header-title
                font-size: 3rem
                top: calc(45% - 2rem)

// SMALL

@media screen and (max-width: $small)
    .header
        background-position: center center
        background-size: cover
        display: block
        height: 100vh
        width: 100vw
        .header-slider-link
            padding-bottom: 25px
            .icon-expand_more
                font-size: 25px
                line-height: 1
                height: 40px
                padding: 7px 6px
                width: 40px
            &:hover
                padding-bottom: 30px
        .header-center
            .logo
                height: 30px
            .nav .nav-link
                font-size: 10px
                line-height: 40px
                height: 40px
                margin-left: 25px
                padding-left: 15px
                &:first-child
                    margin-left: 0
