// HOME

.home
    display: block
    margin: 0 auto
    max-width: $small
    text-align: center
    width: 100%
    .home-center
        display: block
        height: 230px
        left: 0
        position: absolute
        top: calc(50vh - 115px)
        width: 100vw
        .home-vampa-link
            +transition(color, 0.1s)
            color: #515151
            font-size: 40px
            line-height: 50px
            &:hover
                color: #313131
        .home-name, .home-title, .home-contact-button
            +text-shadow('1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def')
            text-transform: uppercase
        .home-name
            @extend .futura
            color: #515151
            font-size: 14px
            letter-spacing: 0rem
            line-height: 35px
            padding-top: 15px
        .home-title
            color: #414141
            font-weight: bold
            font-size: 40px
            line-height: 40px
            margin-bottom: 40px
    .home-portfolio-link
        +roundedCorners(3px)
        +transition(border-color, 0.2s)
        background: rgba(255,255,255,0.9)
        border: 3px solid $border
        bottom: 5vh
        color: darken($border, 45%)
        font-size: 13px
        font-weight: bold
        left: calc(50vw - 100px)
        padding: 10px
        position: absolute
        text-transform: uppercase
        width: 200px
        &:after, &:before
            +transition(border-color, 0.2s)
            top: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
        &:after
            border-top-color: rgba(255,255,255,0.9)
            border-width: 14px
            margin-left: -14px
        &:before
            border-top-color: $border
            border-width: 19px
            margin-left: -19px
        &:hover
            border-color: darken($border, 5%)
            color: darken($border, 55%)
            margin-bottom: 2px
            &:before
                border-top-color: darken($border, 5%)

// MEDIUM

@media screen and (max-width: $medium)

// SMALL

@media screen and (max-width: $small)
    .home
        .home-center
            .home-name
                font-size: 12px
            .home-title
                font-size: 25px
