// HOME/ABOUT

.about-center
    display: block
    height: 230px
    margin: 0 auto
    max-width: $medium
    padding-top: 20px
    width: 100%
    .about-vampa-link
        +transition(color, 0.1s)
        color: #515151
        font-size: 40px
        line-height: 50px
        &:hover
            color: #313131
    .about-name, .about-title, .about-contact-button
        +text-shadow('1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def')
        text-transform: uppercase
    .about-contact-button
        margin-right: 20px
    .about-name
        @extend .futura
        color: #515151
        font-size: 14px
        letter-spacing: 0rem
        line-height: 35px
        padding-top: 15px
    .about-title
        color: #414141
        font-weight: bold
        font-size: 40px
        line-height: 40px
        margin-bottom: 40px
    .about-skills
        background: white
        display: block
        margin-bottom: 50px

// MEDIUM

@media screen and (max-width: $medium)
    .about-center
        padding: 20px 50px 0

// SMALL

@media screen and (max-width: $small)
