// PORTFOLIO

.portfolio
    display: block
    text-align: center
    .header
        background-image: asset_url("slide_portfolio.jpg")
        max-height: 950px !important
        .header-center
            .header-title
                font-size: 3.5rem
                padding: 10vw 0 5vw


// MEDIUM

@media screen and (max-width: $medium)
    .portfolio
        .header
            .header-center
                .header-title
                    padding: 150px 0 0

// SMALL

@media screen and (max-width: $small)
    .portfolio
        .header
            .header-center
                .header-title
                    padding: 400px 0
