// SIDEBAR

.sidebar
    background: #33373d
    height: 100%
    padding: 0 50px
    position: absolute
    top: 0
    text-align: right
    width: 400px
    .sidebar-content
        float: right
        margin-top: calc(50vh - 116px)
        .sidebar-header
            color: white
            font-size: 3.5rem
            line-height: 5rem
            text-transform: none
        .sidebar-subheader
            color: #85878b
            font-size: 1.7rem
            line-height: 2.7rem
            font-weight: 200
            padding-bottom: 5px
            text-transform: uppercase
        .sidebar-ref-icon
            +transition(color, 0.2s)
            color: #85878b
            display: inline-block
            float: right
            height: 15px
            margin-top: 10px
            margin-left: 20px
            width: 16px
            [class^="icon-"], [class*=" icon-"], [class^="path"], [class*=" path"]
                color: inherit
                font-size: 16px
            &:hover
                color: white
        .sidebar-nav
            float: left
            margin-top: 20px
            display: block
            width: 100%
            .sidebar-nav-link
                color: #85878b
                display: block
                font-size: 1.4rem
                font-weight: 400
                padding: 10px 0 15px
                text-transform: uppercase
                &:hover
                    color: lighten(#85878b, 25%)
                    cursor: pointer
