// BUTTON

.button, input[type="button"], input[type="submit"]
    +transition(background-color, 0.1s)
    background-color: #313131
    color: #e5e5e5
    display: inline-block
    font-family: HelveticaNeue, "Helvetica Neue", Hevetica, Arial, sans-serif
    font-size: 13px
    font-weight: bold
    height: 50px
    line-height: 20px
    padding: 15px 20px
    text-transform: uppercase
    width: auto
    &:hover
        background-color: #212121
        color: white
    &.outline
        +transition(all, 0.1s)
        background-color: transparent
        border: 3px solid white
        color: white
        font-size: 12px
        font-weight: 800
        height: 45px
        line-height: 15px
        opacity: 0.85
        padding: 12px 20px
        &:hover
            opacity: 1
