// FONTS

@import url('https://i.icomoon.io/public/8597f7fd9f/Portfolio/style.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

@include font-face('Mission Gothic', 'MissionGothicBold', 'Mission Gothic', 'bold')
@include font-face('Mission Gothic', 'MissionGothicThin', 'Mission Gothic', 'thin')

// CONTENT RESET STYLES

li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td, div, span, textarea, strong
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: $black
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Hevetica, Arial, sans-serif
    font-size: 1.4rem
    font-weight: 500
    line-height: 2.7rem
    list-style: none outside none
    text-decoration: none

[class^="icon-"], [class*=" icon-"], [class^="path"], [class*=" path"]
    font-style: normal

// HEADERS

h1, h2, h3, h4, h5, h6
    font-family: HelveticaNeue, "Helvetica Neue", Hevetica, Arial, sans-serif

h1
    font-size: 3rem
    font-family: "Mission Gothic"
    font-weight: thin
    line-height: 6rem

.accent-text
    color: $accent
    font-size: inherit
    font-weight: inherit

p
    font-weight: 200
    letter-spacing: .03rem
    line-height: 2.7rem
    padding-bottom: 25px
    &:last-child
        padding-bottom: 0

a
    color: $link
    font-weight: 400
    &:hover
        color: darken($link, 10%)
