// FONTS

@import url('https://i.icomoon.io/public/8597f7fd9f/Portfolio/style.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')

@include font-face('Futura', 'FUTRFW', 'FUTURA', '')
// @include font-face('Mission Gothic', 'MissionGothicRegular', 'Mission Gothic', '')
// @include font-face('Mission Gothic', 'MissionGothicThin', 'Mission Gothic', 'light')
// @include font-face('Mission Gothic', 'MissionGothicBold', 'Mission Gothic', 'bold')

// CONTENT RESET STYLES

li, a, p, h1, h2, h3, h4, h5, h6, label, input, th, td, div, span, textarea, strong
    color: $black
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
    font-size: 2rem
    font-weight: 500
    letter-spacing: .03rem
    line-height: 2.7rem
    list-style: none outside none
    text-decoration: none

[class^="icon-"], [class*=" icon-"], [class^="path"], [class*=" path"]
    font-style: normal

// HEADERS

h1, h2, h3, h4, h5, h6
    //font-family: "Futura", "Futura PT", "Helvetica Neue", Arial, sans-serif
    letter-spacing: 0rem

h1, h2
    letter-spacing: .1rem
    font-size: 1rem
    line-height: 3.2rem
    padding-bottom: 25px
    text-transform: uppercase
    word-spacing: .2rem
    &.centered-header
        text-align: center

.accent-text
    color: $accent
    font-size: inherit
    font-weight: inherit

p
    font-weight: 200
    letter-spacing: .03rem
    line-height: 2.7rem
    padding-bottom: 25px
    &:last-child
        padding-bottom: 0

a
    color: $link
    font-weight: 400
    &:hover
        color: darken($link, 10%)
