// VARS

$black: #333333
$blue: #75c7df
$orange: #ff962b
$red: #d11536
$dark_red: #b01328

// Used in App

$bg: #f2f2f2
$border: #d9d9d9
$link: darken($blue, 5%)
$accent: $blue
$dark_accent: $dark_red
$secondary: $orange

// Responsive breakpoints

$small: 700px
$medium: 1200px
$huge: 1400px

// BASE PARTIALS

@import "base"
@import "reset"
@import "typography"
@import "layout"
@import "form"
@import "button"

// APP PARTIALS

@import "partials/header"
@import "partials/home"
@import "partials/portfolio"
@import "partials/blog"
@import "partials/contact"
@import "partials/admin"
