// RESET STYLES

a,p, h1, h2, h3, h4, h5, h6, label, input, th, td, li, ul
	list-style: none
	text-decoration: none
	font: 13pt/16pt Arial, sans-serif
	color: #242424
	margin: 0
	padding: 0

// WRAPPERS LAYOUT

html
	background-image: image-url("bg_slice.jpg"), image-url("bg.jpg")
	background-repeat: repeat-x, repeat
	width: 100%

body
	width: 1190px
	margin: 0 auto
	text-align: center

// NAVIGATION

#nav-wrapper
	padding: 37px 0 30px 0
	width: 100%
	background: image-url("bg_light.png") no-repeat center top
	#logo
		width: 707px
		text-align: center
	#navigation
		float: right
