<div class="section home">

    <div class="home-center">
        <a href="#" class="home-vampa-link">
            <i class="icon-vampa"></i>
        </a>
        <h4 class="home-name">Alex Stomp</h4>
        <h1 class="home-title">Designer + Developer</h1>
        <a href="#" class="home-contact-button button">Contact</a>
    </div>

    <a href="#" class="home-portfolio-link">Portfolio</a>
</div>

<!-- loop -->
<div class="section portfolio-entry">
</div>
