<div class="page-wrap portfolio">
	<h2 class="portfolio-header">Portfolio</h2>
	<span class="portfolio-separator"></span>

	<ul class="content-list">
		<li class="content-entry js-entry">
			<div class="entry-thumb">
				<img class="thumb" src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
				<span class="entry-thumb-overlay">
					<span class="more-button">
						More
						<i class="icon-more"></i>
					</span>
				</span>
			</div>
			<h3 class="entry-title">Steinweg Design</h3>
			<p class="entry-tags">WordPress Theme</p>
		</li>
		<li class="content-entry js-entry">
			<div class="entry-thumb">
				<img class="thumb" src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
				<span class="entry-thumb-overlay">
					<span class="more-button">
						More
						<i class="icon-more"></i>
					</span>
				</span>
			</div>
			<h3 class="entry-title">Steinweg Design</h3>
			<p class="entry-tags">WordPress Theme</p>
		</li>
		<li class="content-entry js-entry">
			<div class="entry-thumb">
				<img class="thumb" src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
				<span class="entry-thumb-overlay">
					<span class="more-button">
						More
						<i class="icon-more"></i>
					</span>
				</span>
			</div>
			<h3 class="entry-title">Steinweg Design</h3>
			<p class="entry-tags">WordPress Theme</p>
		</li>
		<li class="content-entry js-entry">
			<div class="entry-thumb">
				<img class="thumb" src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
				<span class="entry-thumb-overlay">
					<span class="more-button">
						More
						<i class="icon-more"></i>
					</span>
				</span>
			</div>
			<h3 class="entry-title">Steinweg Design</h3>
			<p class="entry-tags">WordPress Theme</p>
		</li>
	</ul>
</div>
