<div class="about">
    <div class="about-center">
        <h4 class="about-name">Alex Stomp</h4>
        <h1 class="about-title">Designer + Developer</h1>

        <div class="about-skills">
            <h2>Skillz</h2>
        </div>

        <a href="#" class="about-contact-button button">Contact</a>
        <a href="#" class="button">Download Resume</a>
    </div>
</div>
