<div class="page-wrap portfolio">
	<h2 class="portfolio-header">Portfolio</h2>
	<span class="portfolio-separator"></span>

	<ul class="content-list">
		<li class="content-entry js-entry">
			<p class="entry-dateline">January 2014</p>
			<h2 class="entry-title">Steinweg Design</h2>
			<p class="entry-tags">WordPress Theme Development <a href="http://steinwegdesigns.com">visit website</a></p>
			<p class="entry-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a pharetra purus. In et fringilla magna.
				Nunc tempor mi sit amet enim tempor, in blandit elit mollis. Vestibulum ante ipsum primis in faucibus
				orci luctus et ultrices posuere cubilia Curae; Nullam pretium ac diam ac volutpat. Etiam sem magna,
				euismod eget mauris in, luctus vulputate quam. Donec egestas libero urna, nec tempus ligula sollicitudin
				in. Nullam porttitor, mi sed eleifend fermentum, mauris enim fermentum lorem, sed rutrum nibh ligula
				facilisis erat.
			</p>
			<div class="entry-thumbs">
				<img class="thumb" src="<%= asset_path('steinweg/steinweg_thumb.jpg')%>"/>
			</div>
		</li>
	</ul>
</div>
