<div class="home">
    <div class="header js-header">
        <div class="header-center">
            <a class="logo" href="<%= root_url %>">
                <img class="logo-image" src="<%= asset_path('logo.png') %>"/>
            </a>

            <%= render 'layouts/nav' %>

            <h1 class="header-title">Freelance Designer/Developer</h1>
            <div class="header-buttons-wrap">
                <a href="https://www.linkedin.com/in/alexstomp" class="about-contact-button button">Contact Me</a>
                <a href="<%= asset_path('Resume2015.pdf') %>" class="button">Download Resume</a>
            </div>
        </div>
        <a class="header-slider-link js-slide-section">
            <span class="slider-link-text">Skills & Proficiencies</span>
            <i class="icon-expand_more"></i>
        </a>
    </div>

    <div class="page-wrap" id="page">
        <div class="page-column">
            <h3 class="block-title">About Me</h3>
            <p class="block-text">
                My passion is to consider every detail of an idea, and take it to fruition or as far as my skills allow me.
                Although my preference lies in design, I enjoy every step of the building process, and am always
                looking for the next great project to get involved with.
            </p>
            <p class="block-text space">
                Don't hesitate to shoot me an email!
            </p>

            <!-- <h3 class="block-title space">Contact</h3>
            <p class="block-text"><a href="mailto:alex.stomp@vampa.org">alex.stomp@vampa.org</a></p>
            <p class="block-text">1.630.808.4507</p> -->
        </div>
        <div class="page-column">
            <h3 class="block-title">Front-End Development</h3>
            <div class="skill">
                <p class="skill-name">HTML & CSS</p>
                <div class="skill-bar"><span class="bar-fill fill-100"></span></div>
                <p class="skill-note">SASS, HAML</p>
            </div>
            <div class="skill">
                <p class="skill-name">Javascript</p>
                <div class="skill-bar"><span class="bar-fill fill-80"></span></div>
                <p class="skill-note">jQuery, BackboneJS, UnderscoreJS</p>
            </div>
            <h3 class="block-title space">Digital</h3>
            <div class="skill">
                <p class="skill-name">Graphic Design</p>
                <div class="skill-bar"><span class="bar-fill fill-80"></span></div>
                <p class="skill-note">Photoshop, Illustrator, Photography</p>
            </div>
            <div class="skill">
                <p class="skill-name">Video Editing</p>
                <div class="skill-bar"><span class="bar-fill fill-60"></span></div>
                <p class="skill-note">Adobe Premiere Pro, Filming</p>
            </div>
        </div>
        <div class="page-column">
            <h3 class="block-title">Back-End Development</h3>
            <div class="skill">
                <p class="skill-name">Web</p>
                <div class="skill-bar"><span class="bar-fill fill-85"></span></div>
                <p class="skill-note">Ruby on Rails, Pyramid (Python), Wordpress, AngularJS</p>
            </div>
            <div class="skill">
                <p class="skill-name">System</p>
                <div class="skill-bar"><span class="bar-fill fill-70"></span></div>
                <p class="skill-note">PostgreSQL, Redis, Firebase</p>
            </div>
            <h3 class="block-title space">Coming soon ...</h3>
            <p class="block-text">iOS Dev: Swift.JS</p>
            <p class="block-text">Game Dev: Unity or Unreal Engine</p>
        </div>
    </div>
</div>
