<div class="portfolio">
    <div class="header">
        <div class="header-center">
            <a class="logo" href="<%= root_url %>">
                <img class="logo-image" src="<%= asset_path('logo.png') %>"/>
            </a>

            <%= render 'layouts/nav' %>

            <h1 class="header-title">Work Samples</h1>
        </div>
    </div>

    <div class="page-wrap">

    </div>
</div>
