<!-- Portfolio navigation -->
<div class="content-center">
    <a href="#" class="portfolio-nav-link prev js-prev"><i class="icon-chevron_left"></i> Prev</a>
    <a href="#" class="list-view-link js-list-view"><i class="icon-list"></i><span class="list-view-link-text">list view</span></a>
    <a href="#" class="portfolio-nav-link js-prev">Next <i class="icon-chevron_right"></i></a>
</div>
<!-- loop -->
<div class="entry shown">
    <div class="entry-details">
        <h2 class="entry-name">Steinweg Design</h2>
        <p class="entry-description">
            This is some test text that will serve as a template for how much text I can expect to write about one single
            project that I've done. To be honest, they are usually pretty quick, and I am only just now about to ramp up
            my speed. The best is yet to come!
        </p>
        <a href="#" class="entry-button">Website</a>
    </div>
    <div class="entry-showcase">

    </div>
</div>
<div class="entry">
    <div class="entry-details">
        <h2 class="entry-name">Trinity Presbytarian</h2>
        <p class="entry-description">
            This is some test text that will serve as a template for how much text I can expect to write about one single
            project that I've done. To be honest, they are usually pretty quick, and I am only just now about to ramp up
            my speed. The best is yet to come!
        </p>
        <a href="#" class="entry-button">Website</a>
    </div>
    <div class="entry-showcase">

    </div>
</div>
