<div class="portfolio">
    <div class="header">
        <div class="header-center">
            <a class="logo" href="<%= root_url %>">
                <img class="logo-image" src="<%= asset_path('logo.png') %>"/>
            </a>

            <%= render 'layouts/nav' %>

            <h1 class="header-title">Some things I've worked on...</h1>
        </div>
    </div>

    <div class="page-wrap">
        <ul class="portfolio-entries">
            <li class="entry">
                <div class="entry-content">
                    <img src="<%= asset_path('tempus_prev.jpg') %>" />
                </div>
                <span class="entry-description-wrap">
                    <div class="entry-description">
                        <h2 class="entry-title">Tempus Landing Page</h2>
                        <p class="entry-owner">November 2015</p>
                        <p class="entry-excerpt">
                            As a <a href="http://lightbank.com" target="_blank">Lightbank</a> portfolio company employee, I got the opportunity to participate in
                            the design process of this startup's new website. Tempus is a great company, and I am honored to
                            have gotten the opportunity to leave my mark with them.
                        </p>
                        <a href="http://tempus.com" target="_blank" class="button outline">View Website</a>
                    </div>
                </span>
            </li>
            <li class="entry">
                <div class="entry-content">
                    <iframe src="https://player.vimeo.com/video/127509503?portrait=0" width="100%" height="421px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <span class="entry-description-wrap">
                    <div class="entry-description">
                        <h2 class="entry-title">Product Launch Video</h2>
                        <p class="entry-owner">Pi - June 2015</p>
                        <p class="entry-excerpt">
                            I was in charge of creating a short video for the landing page of our new product. The target
                            audience were professors who we'd already talked to about our concept, and this was to give them
                            a taste of what we were working on.
                        </p>
                        <a href="https://vimeo.com/127509503" target="_blank" class="button outline">View on Vimeo</a>
                    </div>
                </span>
            </li>
        </ul>
    </div>
</div>
