<nav class="nav js-nav">
    <a href="<%= admin_posts_url() %>" class="nav-link <%= current_page?(admin_posts_url()) || current_page?(admin_root_url()) ? 'active' : '' %>">Posts</a>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
</nav>
