<nav class="nav js-nav">
    <a href="<%= root_url() %>" class="nav-link <%= current_page?(root_url()) ? 'active' : '' %>">About</a>
    <a href="<%= portfolio_url() %>" class="nav-link <%= current_page?(portfolio_url()) ? 'active' : '' %>">Portfolio</a>
    <a href="#" class="nav-link">Blog</a>
</nav>
